.hidden.menu {
    display: none;
}

.ui.inverted.vertical.masthead.center.aligned.segment {
    /* background: linear-gradient(190deg, #1649e3, rgb(133, 84, 237)) !important; */
    /* background-image: url("https://i.pinimg.com/originals/99/1c/a8/991ca83f539ca62b6bd447ea77780a1c.gif"), linear-gradient(#141e30, #243b55) !important; */
    /* background: linear-gradient(#141e30, #243b55) !important; */
    /* background: linear-gradient(180deg, #141e30, #004e92) !important; */
    /* background: linear-gradient(150deg, #041b2d, #004E9A, #428cd4, #ff9cda, #ea4492)!important; */
    /* background: linear-gradient(150deg, #041b2d, #004E9A)!important; */
    /* background: linear-gradient(300deg, rgb(86, 128, 233), rgb(132, 206, 235, .5) 60%), linear-gradient(217deg, rgb(90, 185, 234), rgba(136, 96, 208) 80%), linear-gradient(312deg, rgb(132, 206, 235), rgb(193, 200, 228) 80%), linear-gradient( 396deg, rgba(136, 96, 208), rgb(86, 128, 233) 100%); */
    background: background-size: 100% !important;
    background-position: center !important;
    /* height: 100vh !important; */
    height: 100vh !important;
}

.ui.inverted.segment {
    /* background: #1b1c1d; */
}

.ui.secondary.inverted.pointing.menu {
    border: none;
}

#featured {
    /* background: linear-gradient(#0a010d, #041b2d)!important; */
    height: 10000px !important;
    color: white !important;
}

#searchContainer {
    width: 100vw !important;
    margin-top: 30vh !important;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
    background: linear-gradient(to right, #eb3349, #f45c43)!important;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none !important;
    }
    .secondary.pointing.menu .toc.item {
        display: block !important;
    }
    .ui.container {
        display: inline !important;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 3em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1em;
    }
    .cardContainer {
        display: inline-flex !important;
    }
}


/* CARDSSSS */

.cardContainer {
    position: relative;
    height: 300px;
    top: 60px;
    flex-direction: row;
    /* overflow-x: hidden; */
    left: calc(50% - 300px);
    display: flex;
}

.cardContainer .card {
    display: flex;
    height: 280px;
    width: 200px;
    background: linear-gradient( #004e92, #00095a);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}


/* .card:not(:first-child) {
    margin-left: -50px;
} */


/* .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
} */


/* .card:hover~.card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
} */

.cardContainer .card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.cardContainer .card.prev,
.cardContainer .card.next {
    z-index: 2;
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}

.cardContainer .card.prev {
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(26rem);
    transform: scale(0.8) translateY(-1rem) translateX(0rem);
}

.cardContainer .card.next {
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(-26rem);
    transform: scale(0.8) translateY(-1rem) translateX(0rem);
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #030303;
    stroke-width: 5px;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}